<style type="text/css">
  body.active_admin.logged_out #content_wrapper, body.active_admin.logged_out #content_wrapper #active_admin_content {
    width: 800px;
  }
</style>

<div id="login">
  <%= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <fieldset class="inputs">
      <ol>
        <li>
          <%= f.input :organization %>
        </li>
        <li>
          <%= f.input :fio, :autofocus => true %>
        </li>
        <li>
          <%= f.input :first_phone %>
        </li>
        <li>
          <%= f.input :second_phone %>
        </li>
        <li>
          <%= f.input :third_phone %>
        </li>
        <li class="email input optional autofocus stringish">
          <%= f.input :email %>
        </li>
        <li>
          <%= f.input :scan_ogrn %>
        </li>
        <li class="password input optional stringish">
          <%= f.input :strict_password, type: :password %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol><li class="action input_action " id="admin_user_submit_action">
        <%= f.action :submit, label: "Зарегистрироваться" %>
      </li></ol>
    </fieldset>
  <% end %>
  <%= render :partial => "active_admin/devise/shared/links" %>

</div>
