<div id="login">

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <fieldset class="inputs">
      <ol>
        <li class="email input optional autofocus stringish">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true %>
        </li>
        <li class="password input optional stringish">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </li>
        <li>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol><li class="action input_action " id="admin_user_submit_action">
        <%= f.submit "Sign up" %>
      </li></ol>
    </fieldset>
  <% end %>
  <%= render :partial => "active_admin/devise/shared/links" %>

</div>
