<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" id="index_table_admin_users" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th>Количество анкет в базе</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>
          <%= Taxist.count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" id="index_table_admin_users" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th>Количество пользователей</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>
          <%= AdminUser.count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" id="index_table_admin_users" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th>Количество посещений за сегодня</th>
        <th>Количество посещений за месяц</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td>
          <%= AdminUser.where("current_sign_in_at > ?", Time.zone.now.beginning_of_day).count %>
        </td>
        <td>
          <%= AdminUser.where("current_sign_in_at > ?", Time.zone.now.beginning_of_month).count %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" id="index_table_admin_users" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th>Кто сейчас на сайте</th>
      </tr>
    </thead>
    <tbody>
      <% AdminUser.where("last_active_at > ?", Time.now - 5.minutes).each do |admin_user| %>
      <tr class="odd">
        <td>
          <%= admin_user.name %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="index_as_table">
  <table border="0" cellspacing="0" cellpadding="0" id="index_table_admin_users" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th>Статистика запросов</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "Скачать", "/taxists/queries_stats.xlsx" %></td>
      </tr>
    </tbody>
  </table>
</div>