<div id="public-links">
<% if !current_page?("/public/regulations") %>
  <%= link_to "О Blacklist", "/public/regulations" %> 
<% end %>
<% if !current_page?("/public/contacts") %>
  <%= link_to "Контакты", "/public/contacts" %> 
<% end %>

<% resource_name = "admin_user" %>

<%- if controller_name != 'sessions' %>
  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= link_to t('active_admin.devise.links.sign_in'), send(:"new_#{scope}_session_path") %>
<% end -%>

<%- if controller_name != 'registrations' %>
  <%= link_to t('active_admin.devise.links.sign_up'), new_registration_path(resource_name) %>
<% end -%>

<%- if controller_name != 'passwords' %>
  <%= link_to t('active_admin.devise.links.forgot_your_password'), new_password_path(resource_name) %>
<% end -%>

</div>